body{
    background-color:rosybrown;
}

h1{
    text-align: center;
    font-family: Verdana, Arial, Helvetica;
    font-size: 60px;
    text-shadow: 2px 2px 2px lightcoral;
}

.container{
    margin: 50px 200px 10px 550px;
}

.buttons{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

input[type=text]{
    background:lightgreen;
    box-shadow: 2px 2px 2px goldenrod;
    text-align: center;
    font-size: 50px;
    font-weight:bold;
    width: 200px;
    height: 200px;
}

#increase{
    width: 100px;
    height: 60px;
    box-shadow: 2px 2px 2px ;

}

#decrease{
    width: 100px;
    height: 60px;
    box-shadow: 2px 2px 2px ;
}

#reset{
    width: 100px;
    height: 60px;
    box-shadow: 2px 2px 2px ;
}

#increase:hover{
    width: 100px;
    height: 60px;
    background-color:skyblue;
    box-shadow: 2px 2px 2px ;
}

#decrease:hover{
    width: 100px;
    height: 60px;
    background-color:skyblue;
    box-shadow: 2px 2px 2px ;
}

#reset:hover{
    width: 100px;
    height: 60px;
    background-color:skyblue;
    box-shadow: 2px 2px 2px ;
}